@import "../variables";
@import "../mixins/mixins";

.notification-container {

    padding: 0 15px;
    position: relative;

    .notification-header {
        padding: 15px 0;
        font-size: 17px;
        font-family: "Montserrat Semi Bold", sans-serif;
        color: $color-primary;
        border-bottom: 2px solid $color-primary;
    }
    .notification-body {
        padding: 15px 0;
        display: flex;
        > i, p {
            align-self: center;
        }
        > i {
            font-size: 40px;
            color: $color-primary;
        }
        > p {
            padding-left: 10px;
        }
    }
    .notification-closeButton {
        text-decoration: none !important;
        i {
            font-size: 25px;
            color: $color-inactive;
            @include transition(all);
        }
        &:hover {
            i {
                color: $color-hover;
            }
        }
    }



    &.notification-success {
        .notification-header {
            color: $color-success;
            border-bottom: 2px solid $color-success;
        }
        .notification-body {
            > i {
                font-size: 40px;
                color: $color-success;
            }
        }
    }
    &.notification-error {
        .notification-header {
            color: $color-error;
            border-bottom: 2px solid $color-error;
        }
        .notification-body {
            > i {
                font-size: 40px;
                color: $color-error;
            }
        }
    }
    &.notification-info {
        .notification-header {
            color: $color-info;
            border-bottom: 2px solid $color-info;
        }
        .notification-body {
            > i {
                font-size: 40px;
                color: $color-info;
            }
        }
    }
    &.notification-warning {
        .notification-header {
            color: $color-warning;
            border-bottom: 2px solid $color-warning;
        }
        .notification-body {
            > i {
                font-size: 40px;
                color: $color-warning;
            }
        }
    }
}
