// Variables
$color-primary: #30287E;
$color-secondary: #FFFFFF;
$transition-time: 0.3s;

// Mixins
@mixin transition($property, $time: $transition-time){
  -webkit-transition: $property $time;
  -moz-transition: $property $time;
  -o-transition: $property $time;
  transition: $property $time;
}

@mixin border-radius($value: 50%) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}

.skyflow-radio-container {

  position: relative;
  display: inline-block;
  border: none;
  background-color: transparent;
  cursor: pointer;

  input[type='radio'] {
    display: none;
  }

  input[type='radio'] + span.skyflow-radio-mark {

    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid $color-primary;
    vertical-align: middle;
    background-color: $color-secondary;
    position: relative;
    @include border-radius();
    @include transition(all);

    &:before {
      position: absolute;
      content: "";
      height: 0;
      width: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background-color: $color-primary;
      @include border-radius();
      @include transition(all);
    }

  }

  input[type='radio']:checked + span.skyflow-radio-mark {
    border: 2px solid $color-primary;
    &:before {
      height: 12px;
      width: 12px;
    }
  }

}